.topBar {
  display: flex;
  justify-content: space-between;
  height: max-content;
}

/* PROGRESS BAR 1-----------------------

.progressBar {
  width: 1200px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 80px;
  border: 3px solid #008aff;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #008aff;
}

.allProgressStep {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stepPoint {
  margin-bottom: 0;
  margin-top: 5px;
  width: 12px;
  height: 12px;
  background-color: white;
  border: 1px solid #008aff;
  border-radius: 40px;
}

.completedText {
  font-weight: 400;
}

.completed {
  background-color: #008aff;
} */

/* PROGRESS BAR 2 ----------------------- */

.progressBar {
  width: max-content;
  position: relative;
  top: -2px;
  margin-bottom: 100px;
}

h4 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #0197f6;
}

.allProgressStep {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.step {
  width: max-content;
  height: 45px;
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 0px 0px;
  border-top: 4px solid transparent;
}

.actualStep {
  border-top: 4px solid #0197f6;
}

.stepPoint {
  margin-bottom: 0;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid #0197f6;
  border-radius: 40px;
  text-align: center;
  line-height: 28px;
  margin-right: 10px;
  color: #0197f6;
}

.completedText {
  font-weight: 500;
  cursor: pointer;
}

.completed {
  background-color: #0197f6;
  color: white;
  font-weight: 500;
}

/* POP UP HURRY UP STYLES ---------------------- */

.popUpDiv {
  margin-top: 10px;
  width: 260px;
  height: 120px;
  background-image: linear-gradient(32deg, #04b2e4, #008aff);
  border-radius: 5px;
  position: relative;
  transition: 0.6s;
  overflow: hidden;
}

.popUpDiv p {
  display: inline-block;
  margin: 15px 0px 3px 15px;
  color: white;
}

.closeX {
  margin: 0 !important;
  position: absolute;
  top: 7px;
  right: 9px;
  cursor: pointer;
}

.popUpDiv h3 {
  margin-left: 15px;
  color: white;
}

.popUpDiv h2 {
  color: white;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.hidden {
  height: 0px;
  opacity: 0;
}

/* GENERAL STYLES ----------------------- */

.leftContent {
  width: 70%;
  margin-right: 10px;
  box-sizing: border-box;
}

.rightContent {
  width: 30%;
  margin-left: 10px;
  box-sizing: border-box;
  background-color: white;
}

/* LEFT CONTENT ----------------------- */

.yourPurchaseText {
  width: 100%;
  border-bottom: 1px solid #242424;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.purchaseResume {
  width: 100%;
  display: flex;
}

.purchaseImg {
  width: 40%;
  height: 250px;
  box-sizing: border-box;
  background-image: url("img/Rojo_Front.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin-right: 15px;
}

.purchaseContent {
  width: 65%;
  box-sizing: border-box;
  margin-left: 5px;
}

.SizeColor {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.sizeP {
  width: 45px;
  height: 30px;
  border: 1px solid #242424;
  border-radius: 5px;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 5px;
  font-size: 13px;
}

.colorP {
  width: 45px;
  height: 30px;
  border: none;
  background-color: rgb(201, 38, 38);
  border-radius: 5px;
  margin-top: 5px;
  font-size: 13px;
}

.SCResumeDiv {
  margin-right: 15px;
}

.delDateTitle {
  margin-bottom: 5px;
}

/* RIGHT CONTENT ----------------------- */

.resumeText {
  width: 100%;
  border-bottom: 1px solid #242424;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

#totalResume {
  width: 100%;
  border-bottom: 1px solid #242424;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.productAccount {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.shippingAccount {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.totalPrice {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #242424;
  margin-bottom: 20px;
}

.longBtn {
  width: 100%;
  background-image: linear-gradient(32deg, #04b2e4, #008aff);
  padding: 25px 0px 25px 0px;
  border: none;
  border-radius: 40px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.longBtn:hover {
  opacity: 0.6;
}

.longBtn:focus {
  outline: none;
}

.checkboxText {
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  font-weight: 300;
}

#conditions {
  width: 15px;
  height: 15px;
  border: 1px solid #0197f6;
  cursor: pointer;
}
