/* RESET CSS ------------ */

html,
body,
div,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
img,
ol,
ul,
li,
input,
label,
select,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
footer,
header,
menu,
nav,
section,
video {
margin: 0;
padding: 0;
font-size: 100%;
list-style: none;
border: 0;
}

#logo {
    max-height: 50px;
    max-width: 195px;
    padding-left: 15px;
    padding-bottom: 15px;
}

header {
    height: 100px;
    width: 95%;
    border-bottom: 1px solid #242424;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-end;
}

#carrousel{
    width: 70%;
    margin-top: 50px;
    height: 539px;
    margin-left: 15%;
    background-image: url("img/Blaca_Front.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50px;
}

#ContenidosDestacados{
    width: 50%;
    height: auto;
    margin-left: 25%;
    text-align: center;
    margin-top: 50px;
}

#imgSection {
    width: 60%;
    box-sizing: border-box;
    margin-right: 15px;
}

#contentSection {
    width: 40%;
    box-sizing: border-box;
    margin-left: 15px;    
}

.mainDivs {
    padding-top: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#contentDiv {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #242424;
    margin-bottom: 15px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #242424;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #242424;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #242424;
    margin-bottom: 15px;
}

#sizeSelect {
    width: 50%;
    height: 50px;
    margin-top: 5px;
    border-bottom: 1px solid #242424;
    border-left: 1px solid #242424;
    padding-left: 5px;
    margin-bottom: 15px;
}

.colorButton {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #242424;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
}
#colorButton1 {
    background-image: url('img/Blaca_Front.jpg');
}
#colorButton2 {
    background-image: url('img/Azul_Front.jpg');
}
#colorButton3 {
    background-image: url('img/Negro_Front.jpg');
}
#colorButton4 {
    background-image: url('img/Rojo_Front.jpg');
}
#colorButton5 {
    background-image: url('img/Verde_Front.jpg');
}

/*-------------Step1-------------*/
/*Hiding mainDiv*/
#mainDiv {
    display: none;
}

/*Progress bar prototype*/
.container{
    width: 100%;
    height: 60px;
    border: 2px solid #0197F6;
    border-radius: 30px;
    margin: auto;
}

.progressbar li{
    float: left;
    width: 25%;
    position: relative;
    text-align: center;
    color: #0197F6;
}

.progressbar li:before{
    content:"";
    counter-increment: step;
    width: 26px;
    height: 26px;
    border: 1.5px solid #979797;
    display: block;
    margin: 3px auto 3px auto;
    border-radius: 50%;
    line-height: 27px;
    background: white;
    text-align: center;
    font-weight: bold;
}

.progressbar li:after{
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #979797;
    top: 16px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active{
    background: #ffffff;
    z-index: -1;
}
.progressbar li.active + li:after{
    background: #0197F6;
}
.progressbar li.active:before{
    border-color: #0197F6;
    background: #0197F6;
}