/* RESET CSS ------------ */

html,
body,
div,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
img,
ol,
ul,
li,
input,
label,
select,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
footer,
header,
menu,
nav,
section,
video {
margin: 0;
padding: 0;
font-size: 100%;
list-style: none;
border: 0;
}

#logo {
    max-height: 50px;
    max-width: 195px;
    padding-left: 15px;
    padding-bottom: 15px;
}

header {
    height: 100px;
    width: 95%;
    border-bottom: 1px solid #242424;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-end;
}

#carrousel{
    width: 70%;
    margin-top: 50px;
    height: 539px;
    margin-left: 15%;
    background-image: url("img/Blaca_Front.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50px;
}

#ContenidosDestacados{
    width: 50%;
    height: auto;
    margin-left: 25%;
    text-align: center;
    margin-top: 50px;
}

#imgSection {
    width: 60%;
    box-sizing: border-box;
    margin-right: 15px;
}

#contentSection {
    width: 40%;
    box-sizing: border-box;
    margin-left: 15px;    
}

.mainDivs {
    padding-top: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#contentDiv {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #242424;
    margin-bottom: 15px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #242424;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #242424;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #242424;
    margin-bottom: 15px;
}

#sizeSelect {
    width: 50%;
    height: 50px;
    margin-top: 5px;
    border-top: 0;
}


