<template id="template4">
    <!-- STEP 4 ------------------------ -->
    
            <div class="mainDivs" id="step4MainDiv">
                <section class="leftContent">
                    <h2 class="yourPurchaseText">Your Purchase</h2>
                    <div id="purchaseResume" class="purchaseResume">
                        <div id="purchaseImg" class="purchaseImg"></div>
                        <div class="purchaseContent">
                            <h1 id="prodcutName" class="productName">Illegal shirt</h1>
                            <p class="productDescription">Please don't accept imitations or illegal copies of the brand. Any of these would be very bad T-shirts. Take this advice seriously, please.</p>
                            <div class="SizeColor">
                                <div class="SCResumeDiv">
                                    <h3>Size</h3>
                                    <p class="sizeP" id="sizeSelected">XS</p>
                                </div>
                                <div class="SCResumeDiv">
                                    <h3>Color</h3>
                                    <p class="colorP" id="colorSelected"></p>
                                </div>
                            </div>
                            <h3 class="delDateTitle">Estimated delivery date:</h3>
                            <p id="deliveryDate" id="estimatedDate"></p>
                        </div>
                    </div>
                </section>
                <section class="rightContent">
                    <h2 class="resumeText">Resume</h2>
                    <div id="totalResume">
                        <div class="productAccount">
                            <p class="productText">Product Name</p>
                            <h3 class="productPrice" id="productprice" value="100">100€</h3>
                        </div>
                        <div class="shippingAccount">
                            <p class="shippingText">Premium Shipping</p>
                            <h3 class="shippingPrice" id="shippingPrice">9,99€</h3>
                        </div>
                    </div>
                    <div class="totalPrice">
                        <h2>Total</p>
                        <h2 id="finishprice">109,99€</h3>
                    </div>
                    <form>
                        <button id="buyNowBtn" class="longBtn" disabled>Buy Now!</button>
                        <input type="checkbox" name="conditions" id="conditions" required>
                        <label for="conditions" id="checkboxText" class="checkboxText">I've read and accept the terms and conditions</label>
                    </form>
                </section>
            </div>
    <!-- END OF STEP 4 ------------------------ -->
    </template>