<template id="template2">
    <!-- STEP 2 ------------------------ -->
    
            <div class="mainDivs" id="step2MainDiv">
    
                <form id="addressForm" class="profileForm">
                    <div class="leftContent formInputs">
                        <h2>Address</h2>
                        <input type="text" id="addFirstName" name="firstName" maxlength="20" placeholder="First Name*" required onkeyup="checkName()">
                            <label for="addFirstName" id="step2name" class="formValidLabel"></label>
                        <input type="text" id="addLastName" name="lastName" size="20" maxlength="20" placeholder="Last Name*" required onkeyup="checkLastName()">
                            <label for="addLastName" id="step2lastname" class="formValidLabel"></label>
                        <input type="date" id="addBirthday" name="birthday" placeholder="Birthday" required onchange="checkBirthday()" onkeyup="checkBirthday()">
                            <label for="addBirthday" id="step2birthday" class="formValidLabel"></label>
                        <input type="text" id="addAddress1" name="Address1" placeholder="Address 1" maxlength="50" required onkeyup="checkAddress()">
                            <label for="name" id="step2address" class="formValidLabel"></label>
                        <input type="text" name="Address2" placeholder="Address 2" maxlength="50">
                        <input type="number" id="addPostalCode" name="postalCode" placeholder="Postal Code" maxlength="5" required onkeyup="checkPostalCode()">
                            <label for="name" id="step2postalcode" class="formValidLabel"></label>
    
                        <select name="country" id="addCountry" class="select" required onchange="checkCountry()">
                            <option disabled selected>Select a Country</option>
                            <option value="Andorra">Andorra</option>
                            <option value="France">France</option>
                            <option value="Germany">Germany</option>
                            <option value="Greece">Greece</option>
                            <option value="Spain">Spain</option>
                        </select>
                            <label for="addCountry" id="step2country" class="formValidLabel"></label>
    
                        <div class="countryCodeDiv">
                            <select name="countryCode" id="addCountryCode" class="countryCode select" required onchange="checkCountryCode()">
                                <option disabled selected>+CC</option>
                                <option value="Andorra">AND</option>
                                <option value="France">FRA</option>
                                <option value="Germany">DEU</option>
                                <option value="Greece">GRC</option>
                                <option value="Spain">ESP</option>
                            </select>
                            <input type="tel" id="addPhone" name="numberPhone" placeholder="Phone" class="phoneNumberInput" maxlength="17" required onkeyup="checkPhoneNumber()">
                        </div>
                        <label for="addPhone" id="step2phone" class="formValidLabel"></label>
    
                    </div>
    
                    <div class="rightContent add_rc">
                        <div class="add_rc_check">
                            <input type="checkbox" name="RegularAddress" value="SaveRA" id="checkItem">
                            <label for="checkItem">This is my regular address</label>
                        </div>
                        <div class="add_rc_btns formSmallBtns">
                            <button type="reset" id="address_clearBtn" class="clearBtn" onclick="clearLabelAddForms()">Clear form</button>
                            <button type="submit" id="address_NextBtn" class="nextBtn" onclick="adressData()">Next</button>
                        </div>
                    </div>
    
            
                </form>
    
            </div>
    
    <!-- END OF STEP 2 ------------------------ -->
    </template>